



/*#privilege-selector {*/
/*    margin-bottom: 20px;*/
/*}*/

/*label {*/
/*    font-weight: bold;*/
/*    margin-right: 10px;*/
/*}*/

/*select {*/
/*    padding: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    font-size: 16px;*/
/*}*/

/*.request-list {*/
/*    margin-top: 20px;*/
/*}*/

/*.request-item {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 15px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 10px;*/
/*    background-color: #f9f9f9;*/
/*    transition: background-color 0.3s, box-shadow 0.3s;*/
/*    width: calc(100% - 30px); !* 减去边距，确保不超出容器 *!*/
/*    max-width: 100%; !* 确保请求项不超过容器宽度 *!*/
/*}*/

/*.request-item:hover {*/
/*    background-color: #f1f1f1;*/
/*    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);*/
/*}*/

/*.item-image {*/
/*    width: 100px; !* 调整图片宽度 *!*/
/*    height: 100px; !* 调整图片高度 *!*/
/*    border-radius: 4px;*/
/*    object-fit: cover;*/
/*    margin-right: 15px;*/
/*}*/

/*.request-item div {*/
/*    flex: 1; !* 允许文本部分扩展 *!*/
/*    margin: 5px 0;*/
/*    color: #444;*/
/*    white-space: nowrap; !* 防止文本换行 *!*/
/*    overflow: hidden; !* 隐藏溢出文本 *!*/
/*    text-overflow: ellipsis; !* 使用省略号表示溢出 *!*/
/*}*/

.revoke-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.revoke-button:hover {
    background-color: #e60000;
}

.request-item:last-child {
    margin-bottom: 0; /* Remove margin for the last item */
}

