{#<!DOCTYPE html>#}
{#<html lang="zh-CN">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>删除和修改物资</title>#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_func/delete_items.css') }}">#}
{##}
{#</head>#}
{#<body>#}
{#    <div class="container">#}

        <select id="privilege-selector" style="display: none;"></select>
        <div id="current-privilege">当前选择: <span id="selected-privilege"></span></div>

        <div id="item-list">

        </div>
{#    </div>#}
{##}
{#    <script src="{{ url_for('static', filename='js/api.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/admin_func/delete_items.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>#}
{#</body>#}
{#</html>#}