
        <h1>待处理借出预约请求</h1>
        <div id="privilege-selector-container" style="display: none;">
            <label for="privilege-selector">选择物资类别：</label>
            <select id="privilege-selector">
                <option value="图书">图书</option>
                <option value="设备">设备</option>
                <option value="耗材">耗材</option>
            </select>
        </div>

        <div id="request-list" class="request-list">
            <!-- 请求内容通过JS渲染 -->
        </div>


{#// <!DOCTYPE html>#}
{#// <html lang="zh-CN">#}
{#// <head>#}
{#//     <meta charset="UTF-8">#}
{#//     <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#//     <title>待处理借用请求</title>#}
{#//     <style>#}
{#//     h1 {text-align: center;color: #333;}#}
{#//     </style>#}
{#//     <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_func/pending_requests.css') }}">#}
{#// </head>#}
{#// <body>#}
{#//     <main class="content" id="content-area">#}
{#//         <h1>待处理借出预约请求</h1>#}
{#//         <div id="privilege-selector-container" style="display: none;">#}
{#//             <label for="privilege-selector">选择物资类别：</label>#}
{#//             <select id="privilege-selector">#}
{#//                 <option value="图书">图书</option>#}
{#//                 <option value="设备">设备</option>#}
{#//                 <option value="耗材">耗材</option>#}
{#//             </select>#}
{#//         </div>#}
{#//#}
{#//         <div id="request-list" class="request-list">#}
{#//             <!-- 请求内容通过JS渲染 -->#}
{#//         </div>#}
{#//     </main>#}
{#//#}
{#//     <script src="{{ url_for('static', filename='js/api.js') }}"></script>#}
{#//     <script src="{{ url_for('static', filename='js/admin_func/pending_requests.js') }}"></script>#}
{#//     <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>#}
{#// </body>#}
{#// </html>#}