{#<!DOCTYPE html>#}
{#<html lang="zh">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>查询用户借用记录</title>#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_func/query_records.css') }}">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
    <div class="search-bar">
        <input type="text" id="email-input" placeholder="请输入用户email" />
        <button id="search-button">查询</button>
    </div>
    <div class="records" id="records-container">

    </div>
{#</div>#}
{##}
{#<script src="{{ url_for('static', filename='js/api.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='js/admin_func/query_records.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>#}
{#</body>#}
{#</html>#}
