<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户页面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_func/user.css') }}">
    <script src="{{ url_for('static', filename='js/user_func/user.js') }}"></script>
</head>
<body>

  <div class="container">
    <button class="page-button" data-page="first">实验物资</button>
    <button class="page-button" data-page="pending_returns">待归还物品</button>
    <button class="page-button" data-page="approval_status">审批进度</button>
    <button class="page-button" data-page="history_requests">历史借用记录</button>
  </div>

</body>
</html>
